<head>
  <link rel="stylesheet" href="../static/css/canvas.css" type="text/css">\
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>
<body>
  <center>
    <h1>Character Recognizer</h1>
  </center>
  <form action="/" method="post" id="form1" enctype="multipart/form-data">
    <div id="sketch">
      <canvas id="paint"></canvas>
      <input id="compare" type="button" onClick="sendImageForRecognition()" value="Identify the Character">
      <div id="result">RESULT</div>
    </div>
    <input type="text" id="image" name="the_file" hidden>

    </div>
  </form>

  <div id="settings"> Colours
    <button onclick="getColor('blue');">Blue</button>
    <button onclick="getColor('red');">Red</button>
    <button onclick="getColor('green');">Green</button>
    <button onclick="getColor('white');">White</button>
    <button onclick="getColor('#333333');">Eraser</button>
  </div>

  <div id="settings"> Brush Size
    <button onclick="getSize('2');">Small</button>
    <button onclick="getSize('5');">Med</button>
    <button onclick="getSize('10');">Large</button>
    <button onclick="getSize('20');">X Large</button>
  </div>
  <div style="margin-left: 47%;margin-top: 1%;">

  </div>
  <div>
    <h2>Currently Supported Characters</h2>
    <ul>
      <li>'२ / 2',</li>
      <li>'९ / 9',</li>
      <li>'ण / adna',</li>
      <li>'भ / bha',</li>
      <li>'छ / cha',</li>
      <li>'ड / daa',</li>
      <li>'ग / ga',</li>
      <li>'घ / gha',</li>
      <li>'ज्ञ / gya',</li>
      <li>'ड़ / kna',</li>
      <li>'स / patalosaw',</li>
      <li>'ष / petchiryakha',</li>
      <li>'फ / pha',</li>
      <li>'र / ra',</li>
      <li>'ट / taamatar',</li>
      <li>'ठ / tha',</li>
      <li>'य / yaw',</li>
    </ul>
  </div>
  <script type="text/javascript" src="../static/js/canvas.js"></script>
</body>
